body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
}

h1 {
    font-size: 2rem;
}

.navbar-brand, .nav-link {
    color: white;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
}
