{% extends "base.html" %}

{% block title %}Productos Disponibles{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">Nuestros Productos</h2>

    {% if productos %}
        <div class="row">
            {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ producto.descripcion }}</h5>
                            <p class="card-text">{{ producto.precio }} USD</p>
                            <form action="{{ url_for('add_to_cart', producto_id=producto.id_producto) }}" method="post">
                                <button type="submit" class="btn btn-primary btn-block">Añadir al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No hay productos disponibles en este momento.</p>
    {% endif %}
</div>
{% endblock %}
